@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.LineAbout{
  height: 60px;
  background: #9758ED;
  box-shadow: 0px 52px 0px #ffffff;
  border-radius: 50px;
}

.active {
  border-bottom: 2px solid #9758ED;
}

.filterYellow{
  filter: drop-shadow(16px 12px 0px #9758ED);
}

.filterYellow2{
  filter: drop-shadow(0px 4px 0px #9758ED);
}

@keyframes borderAnimationYellow {
  0% {
    border-color: rgba(82, 82, 82, 0.5);
  }
  50% {
    border-color: #9758ED;
  }
  100% {
    border-color: rgba(82, 82, 82, 0.5);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse{
  animation: pulse 1.5s infinite;
}

.project:hover {
  animation-name: borderAnimationYellow;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Toastify__toast-body > div{
  color: black !important;
}

/* Customização das setas do Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  width: 28px !important;
  height: 28px !important;
  font-size: 18px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
}

/* Posiciona as setas do Swiper para fora do carrossel */
.swiper-button-next {
  right: 0px !important;
}

.swiper-button-prev {
  left: 0px !important;
}

@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    right: 0 !important;
    left: 0 !important;
  }
}

@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* Adicione padding lateral ao container do Swiper */
.swiper {
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
}

.swiper-pagination {
  margin-top: 2rem !important;
  bottom: 0 !important;
  position: relative !important;
}

.swiper-pagination-bullet {
  background: #9758ED !important;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #9758ED !important;
  opacity: 1;
}
